@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #11e443;
    --text-color:var(--bg-color)#ededed;
    --main-color: #00abf0;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
nav{
    background-color: var(--second-bg-color);
    height: 4em;
    padding: 10px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.links-bar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 60%;
}
.icons-bar{
    display: flex;
    width: 20%;
    justify-content: center;
}
.icons-bar>li{
    margin-left: 10px;
    
}